<%- include('partials/header'); -%>

<h1><%=pageTitle%></h1>
<p><%=content%></p>

<% for (post of globalPosts){ %>
    <h1><%=post.title%></h1>
    <p>
        <%=post.text.substring(0,100) + " ..."%>
        <a href="/posts/<%=post.title%>"> Read more</a>
    </p>
    
<% }%>
<a class="btn btn-primary" href="compose" role="button">Compose</a>

<%- include('partials/footer'); -%>